@import "styles/index";

#content-container {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #333333;

  .footer-item {

    &:not(:first-child) {
      margin-left: 10%;
    }

    .link {
      text-decoration: none;
      color: white;
    }
  }
}

@media screen and (max-width: 750px) {
  #content-container {
    flex-direction: column;
  }
}