@import "styles/index";

#content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #333333;

  .footer-item {
    align-self: center;
    justify-self: center;

    .link {
      text-decoration: none;
      color: white;
    }
  }
}

@media screen and (max-width: 750px) {
  #content-container {
    grid-template-columns: none;

    .footer-item {

      &:first-child {
        margin-top: 20px;
      }

      &:last-child {
        margin-bottom: 20px;
      }
    }
  }
}