@import '../index.scss';

.navbar {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  overflow-x: visible;
  overflow-y: visible;
  background-color: $nav-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;

  // Sticky
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100vw;

  // Margin between buttons
  > * {
    margin-right: 5%;
  }

  > a {
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 23px;
    height: 70px;
    line-height: 70px;

    // Active tab
    &.active {
      background-color: $green-button-color;
      color: $green-button-text;
    }

    // Hover tab
    &:hover {
      @extend %navbar-tab-hover;
    }
  }
}

/*.sticky {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}*/

.dropdown {
  &:hover {
    .dropdown-content {
      display: block;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 70px;
  margin-left: -10px;

  a {
    //float: none;
    color: #f2f2f2;
    font-size: 20px;
    text-decoration: none;
    display: block;
    line-height: normal;
    padding: 10px;
    text-align: left;

    // Hover tab
    &:hover {
      @extend %navbar-tab-hover;
    }
  }
}

/*.dropdown {
float: left;
overflow: hidden;
}*/

/*.dropdown .dropbtn {
  font-size: 23px;
  border: none;
  outline: none;
  color: white;
  padding: 20px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropbtn:hover {
  cursor: pointer;
}*/

/* Le toggle n'apparait pas par défaut */
.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .navbar.responsive .dropdown {
    float: none;
  }

  .navbar.responsive .dropdown-content {
    position: relative;
  }

  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}