@import 'styles/index';

.navbar {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  overflow-x: visible;
  overflow-y: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $navbar-height;

  background: rgba(20, 20, 20, 0.4);

  // Sticky
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100vw;

  &:hover {
    background-color: $nav-background-color;
    transition: 0.4s;
  }

  // Margin between buttons
  > * {
    margin-right: 5%;
  }

  > a {
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 23px;
    height: $navbar-height;
    line-height: 70px;

    // Active tab
    &.active {
      background-color: $green-button-color;
      color: $green-button-text;
    }

    // Hover tab
    &:hover {
      @extend %navbar-tab-hover;
    }
  }
}

.dropdown {
  position: relative;

  &:hover {
    .dropdown-content {
      display: block;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
  left: 0;
  width: 100%;

  a {
    //float: none;
    color: #f2f2f2;
    font-size: 20px;
    text-decoration: none;
    display: block;
    line-height: normal;
    padding: 10px;
    text-align: left;

    // Hover tab
    &:hover {
      @extend %navbar-tab-hover;
    }
  }
}


/* Toggle button not visible for large screen */
.navbar .toggle {
  display: none;
}

@media screen and (max-width: 750px) {
  .navbar {
    display: block;
    z-index: 3;

    a {
      display: none;

      // Only toggle is displayed
      &.toggle {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 0;
        margin-right: 0;
        width: 60px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .navbar.expand-tabs {
    height: 100%;
    display: block;

    // All tabs are displayed
    a:not(.toggle) {
      display: block;
      width: 100%;
      height: auto;
    }

    .dropdown-content {
      position: static;
      display: block;
      width: 100%;
      margin-left: -10px;
      box-shadow: unset;
    }
  }
}
