@import '../index.scss';

._overflow-hidden {
  overflow: hidden;
}

.photo-row {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  white-space: nowrap;
  animation: photo-row 40s linear infinite;
  animation-delay: 1s;
}

#presentation-panel {

  position: absolute;
  top: $navbar-height + 15;
  bottom: 0;
  left: 0;
  right: 0;
  /* À réfléchir pour à terme...*/
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.7); /* Black w/opacity/see-through */
  font-weight: bold;
  border: 10px solid $dark-green-text; /* vert foncé de la plaque */
  z-index: 1;

  min-height: unset;
  height: max-content;
  width: 50%;
  padding: 20px;
  text-align: center;

  /* Doesn't work for Mozilla */
  backdrop-filter: blur(3px);

  #logo-container {
    position: relative;
    width: 80%;
    padding-bottom: 33.66%; // ratio : 80% * 324px / 770px (logo size)

    #logo {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
    }
  }

  #casson-countdown {
    font-size: 5vw;
    font-family: Roboto, Arial, Helvetica, serif;
    color: $yellow-text;
  }

  #inscription-form-button {
    background-color: $blue-button;
    text-decoration: none;
    font-weight: normal;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    color: black;
    width: 30%;
    border-radius: 5px;
    padding: 15px;

    &:hover {
      background-color: $blue-button-hover; /* bleu clair du P.V.A */
    }
  }

  #discover-asso-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    margin-top: 5%;
    font-size: 20px;

    #discover-asso-arrow {
      -webkit-animation: arrow-jump 1s infinite alternate; /* Safari 4+ */
      -moz-animation: arrow-jump 1s infinite alternate; /* Fx 5+ */
      -o-animation: arrow-jump 1s infinite alternate; /* Opera 12+ */
      animation: arrow-jump 0.8s infinite alternate; /* IE 10+, Fx 29+ */
    }
  }
}

@media screen and (max-width: 750px) {
  #presentation-panel {

    #inscription-form-button {
      width: 70%;
      font-size: 3vw;
      padding: 5px;
      margin-top: 20%;
    }

    #discover-asso-button {
      margin-top: 40%;
    }
  }
}

@keyframes photo-row {
  to {
    transform: translateX(-200%);
  }
}

@keyframes arrow-jump {
  100% {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
}

