@import '../index.scss';

$logo-size: 100px;

$columns-gap: $logo-size;
$rows-gap: 20px;

$x-gap-between-logos: $logo-size + $columns-gap;
$y-gap-between-logos: $logo-size + $rows-gap;

@mixin splash-logo($x, $y) {
  --x: #{$x};
  --y: #{$y};

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;
  margin-left: -$x;
  margin-top: -$y;

  animation: splash 1.5s forwards;
  animation-delay: 0.2s;
}

@keyframes splash {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--x), var(--y));
  }
}

#sponsors-section {
  background-color: $background-color;

  #sponsors-header {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 100px;
  }

  .sponsors-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 4*$logo-size + 3*$columns-gap;
    height: 3*$logo-size + 2*$rows-gap;

    .sponsor {
      display: none;
    }
  }

  .sponsors-container.splash {
    #one {
      @include splash-logo(-($logo-size + $x-gap-between-logos), -$y-gap-between-logos);
      top: 0;
      left: 0;
    }

    #two {
      @include splash-logo(-$logo-size, -$y-gap-between-logos);
      top: 0;
      left: $x-gap-between-logos;
    }

    #three {
      @include splash-logo($logo-size, -$y-gap-between-logos);
      top: 0;
      left: 2 * $x-gap-between-logos;
    }

    #four {
      @include splash-logo($x-gap-between-logos + $logo-size, -$y-gap-between-logos);
      top: 0;
      left: 3 * $x-gap-between-logos;
    }

    #five {
      @include splash-logo(-$x-gap-between-logos, 0);
      top: $y-gap-between-logos;
      left: $logo-size;
    }

    #six {
      @include splash-logo(0, 0);
      top: $y-gap-between-logos;
      left: $logo-size + $x-gap-between-logos;
    }

    #seven {
      @include splash-logo($x-gap-between-logos, 0);
      top: $y-gap-between-logos;
      left: $logo-size + 2 * $x-gap-between-logos;
    }

    #eight {
      @include splash-logo(-($x-gap-between-logos + $logo-size), $y-gap-between-logos);
      top: 2 * $y-gap-between-logos;
      left: 0;
    }

    #nine {
      @include splash-logo(-$logo-size, $y-gap-between-logos);
      top: 2 * $y-gap-between-logos;
      left: $x-gap-between-logos;
    }

    #ten {
      @include splash-logo($logo-size, $y-gap-between-logos);
      top: 2 * $y-gap-between-logos;
      left: 2 * $x-gap-between-logos;
    }

    #eleven {
      @include splash-logo($x-gap-between-logos + $logo-size, $y-gap-between-logos);
      top: 2 * $y-gap-between-logos;
      left: 3 * $x-gap-between-logos;
    }
  }
}

@media screen and (max-width: 750px) {
  #sponsors-section {

    .sponsors-container {
      width: 2*$logo-size + $columns-gap;
      height: 7*$logo-size + 6*$rows-gap;
    }

    .sponsors-container.splash {
      #one {
        @include splash-logo(-$logo-size, -3*$y-gap-between-logos);
        top: 0;
        left: 0;
      }

      #two {
        @include splash-logo($logo-size, -3*$y-gap-between-logos);
        top: 0;
        left: $x-gap-between-logos;
      }

      #three {
        @include splash-logo(0, -2*$y-gap-between-logos);
        top: $y-gap-between-logos;
        left: $logo-size;
      }

      #four {
        @include splash-logo(-$logo-size, -$y-gap-between-logos);
        top: 2*$y-gap-between-logos;
        left: 0;
      }

      #five {
        @include splash-logo($logo-size, -$y-gap-between-logos);
        top: 2*$y-gap-between-logos;
        left: $x-gap-between-logos;
      }

      #six {
        @include splash-logo(0, 0);
        top: 3*$y-gap-between-logos;
        left: $logo-size;
      }

      #seven {
        @include splash-logo(-$logo-size, $y-gap-between-logos);
        top: 4*$y-gap-between-logos;
        left: 0;
      }

      #eight {
        @include splash-logo($logo-size, $y-gap-between-logos);
        top: 4*$y-gap-between-logos;
        left: $x-gap-between-logos;
      }

      #nine {
        @include splash-logo(0, 2*$y-gap-between-logos);
        top: 5*$y-gap-between-logos;
        left: $logo-size;
      }

      #ten {
        @include splash-logo(-$logo-size, 3*$y-gap-between-logos);
        top: 6 * $y-gap-between-logos;
        left: 0;
      }

      #eleven {
        @include splash-logo($logo-size, 3*$y-gap-between-logos);
        top: 6 * $y-gap-between-logos;
        left: $x-gap-between-logos;
      }
    }
  }

}
